* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  background: #f8f9fd;
  height: 100vh;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  /*background: rgba(0, 0, 0, 0.4);*/
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 10px;
  padding-bottom: 20px;
}
.center h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-top: 20px;
  color: #01d28e;
  cursor: pointer;
  transition: all 0.6s;
}
.center h1:hover {
  color: #000;
}
.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

.img {
  background-image: url(../images/Gambar-Login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 150px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

form .input-form {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.input-form input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  color: #212529;
}
.input-form label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: all 0.5s;
}
.input-form span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #01d28e;
  transition: all 0.6s;
}
.input-form input:focus ~ label,
.input-form input:valid ~ label {
  top: -5px;
  color: #01d28e;
}
.input-form input:focus ~ span::before,
.input-form input:valid ~ span::before {
  width: 100%;
}

.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover {
  text-decoration: underline;
}

input[type='button'] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #01d28e;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type='button']:hover {
  border-color: #01d28e;
  transition: all 0.6s;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
}
.signup-link a {
  color: #01d28e;
  text-decoration: none;
}
.signup-link a:hover {
  text-decoration: underline;
}
